@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body {
    color: black;
    margin: 0;
}

h2 {
    font-family: 'Comfortaa', cursive;
}

#cabecalho {
    background-color: gray;
    height: 110px;
    line-height: 110px;

    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#cabecalho a:hover {
    color: white;
}

#titulo-cabecalho {
    display: block;
    float: left;

    font-size: 40px;
    font-weight: bolder;

    color: yellow;
    text-decoration: none;
}

#navegacao-cabecalho {
    display: block;
    float: right;
    margin-top: 0;

    font-size: 20px;
}

#navegacao-cabecalho li {
    display: inline;
    padding-left: 20px;
}

#navegacao-cabecalho a {
    color: black;
    text-decoration: none;
}

#videos {
    display: block;
    float: left;
}

#palestras {
    display: block;
    float: left;
}

#instagram img {
    width: 300px;
}

#instagram a {
    width: 400px;
    height: 400px;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

iframe {
    margin: 10px;
    border: solid 3px black;
    border-radius: 15px;
}